<ul class="list-group list-group-flush order">
  <% LineItem.where("order_id = #{@order.id}").each do |line_item| %>
    <% product = Product.where("id = #{line_item[:product_id]}") %>
    <%= 
      render 'line_item', 
        product: product[0],
        quantity: line_item[:quantity],
        total: line_item[:total_price_cents]
    %>
  <% end %>
</ul>

<footer>

  <h5> total: 
    <%= 
      total = @order.total_cents.to_i/100.0
      humanized_money_with_symbol total 
    %>
  </h5>
</footer>